node_modules/
.terraform/
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
*.tfplan
dist/
coverage/
.local/
/artifact-pages
/artifact-pages.cloudflare.yaml
playwright-report/
test-results/
storybook-static/
*.tsbuildinfo
.DS_Store
